<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- BASIC TABLE -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Categories List</b>
									</h3>
								</div>
								<div>
									<span class="errmsg" th:if="${ack}==1"
										style="color: green;" th:text="${errmsg}"></span>
								</div>
								<div>
									<span class="errmsg" th:if="${ack}==0"
										style="color: red;" th:text="${errmsg}"></span>
								</div>
								<span>
									<button id="addd" type="button" class="btn addbtn">Add
										New Category</button>
								</span>
								<form id="subm" th:action="@{categorydetails}" method="POST"
									modelAttribute="cat">
									<div>
										<input type="hidden" id="pagid" name="category_id" />
									</div>
								</form>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th align="char">Category Id</th>
												<th align="char">Category Name</th>
												<th align="char">Parent Category Name</th>
												<th align="char">Status</th>
												<th align="char">Created On</th>
												<th align="char">Details</th>
												<th align="char">Questions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="category, iterator: ${categoryList}">
												<td th:text="${category.category_id}"></td>
												<td th:text="${category.category_name}"></td>
												<td th:text="${category.parent_category_name}"></td>
												<td th:text="${category.is_active}"></td>
												<td th:text="${category.create_date}"></td>
												<td th:rel="${category.category_id}" class="catv">
													<button type="button" class="btn btn-info">View
														Details</button>
												</td>
												<td th:rel="${category.category_id}" class="cat">
													<button type="button" class="btn btn-info">View
														Questions</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script type="text/javascript">
		
	</script>
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
		
		
		
	// <![CDATA[
	  $(document).ready(function(){          
	  $('.cat').click(function() {
		  var categoryId = $(this).attr('rel');
		  window.location.href = 'questionList/'+categoryId;
	  }); 
	  
	  $('#addd').click(function() {
	      window.location.href = 'addcategoryget';
	  });
	  
	  $('.catv').click(function() {
	  	  $('#pagid').val($(this).attr('rel'));
	  	  $('#subm').submit();
      }); 
	  
	  setTimeout(function() {
	      	$('.errmsg').fadeOut('fast');
	  	  }, 3000);
	  });        
	// ]]>            
	
	
	
	
	
	
	</script>
</body>

</html>
