<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div th:replace="fragments/header :: headerFragment"></div>

		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title"></h3>
					<div class="row">
						<div class="col-md-12">
							<!-- BASIC TABLE -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Category Details</b>
									</h3>
								</div>
								<form id="submt" th:action="@{deletecategory}" method="POST"
									modelAttribute="cat">
									<div>
										<input type="hidden" id="pagidd" name="category_id" />
									</div>
								</form>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Org Id</th>
												<th>Category Id</th>
												<th>Parent Category Id</th>
												<th>User Id</th>
												<th>Category Name</th>
												<th>Created On</th>
												<th>Status</th>
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td th:text="${categorydetails.org_id}"></td>
												<td th:text="${categorydetails.category_id}"></td>
												<td th:text="${categorydetails.parent_category_id}"></td>
												<td th:text="${categorydetails.user_id}"></td>
												<td th:text="${categorydetails.category_name}"></td>
												<td th:text="${categorydetails.create_date}"></td>
												<td th:text="${categorydetails.is_active}"></td>
												<td>
													<button th:rel="${categorydetails.category_id}" type="button"
														class="btn btn-info edq">Edit</button>
												</td>
												<td>
													<button th:rel="${categorydetails.category_id}" type="button"
														class="btn btn-danger edd">Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script type="text/javascript">
		
	</script>
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
		
	// <![CDATA[
	  $(document).ready(function(){
		  $('.edq').click(function() {
		  	  var category_id = $(this).attr('rel');
	      	  window.location.href = 'editcategoryget/'+category_id;
	      });
		  
		  $('.edd').click(function() {
		  	  $('#pagidd').val($(this).attr('rel'));
		  	  if (confirm("Are you sure you want to delete this category?")) {
		  	  $('#submt').submit();
		  	  }
	      });
	  });
	  
	// ]]> 
		
	
	
	</script>
	<!-- Javascript -->
</body>

</html>
