<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><b>Change Password</b></h3>
								</div>
								<form th:action="@{dochangepassword}" method="POST"
									modelAttribute="pass" id="addform" class="form-auth-small">
									<div>
										<span id="errmsg" style="color: red;"></span>
									</div>
									<div>
										<span th:if="${ACK} == 0" id="msg" style="color: red;" th:text="${errmsg}"></span>
									</div>
									<div>
										<span th:if="${ACK} == 1" id="msg" style="color: green;" th:text="${errmsg}"></span>
									</div>
									<div class="panel-body no-padding neo">
										<div class="form-group">
											<label>Old Password</label><input type="password"
												class="form-control" name="oldPass" id="oldPass" />
										</div>
										<div class="form-group">
											<label>New Password</label><input type="password"
												class="form-control" name="newPass" id="userPass" />
										</div>
										<div class="form-group">
											<label>Confirm Password</label><input type="password"
												class="form-control" name="conPass" id="conuserPass" />
										</div>
									</div>
									<button id="submitBtn" type="submit" class="btn btn-info">Change
										Password</button>
									<div class="bottom"></div>
								</form>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
	
	// <![CDATA[
	$(document).ready(function(){ 
	$('#submitBtn').click(function(e) {
			  var userpass=$('#userPass').val();
			  var userconfirmpass=$('#conuserPass').val();
			  var errmsg="";
			  $('#errmsg').html("");
			  var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
			  if($('#oldPass').val()==""){
					$('#errmsg').html("Please Enter your Old Password");
					$('#errmsg').show(); 
					$('#oldPass').focus();
					return false;
				}
			   else if($('#userPass').val()=="")	
				{
					$('#errmsg').html("Please enter a new Password");
					$('#errmsg').show(); 
					$('#userPass').focus();
					return false;
				}
				else if(userpass.length < 8)	
				{
					$('#errmsg').html("Please enter 8 or more characters in Password");
					$('#errmsg').show();
					$('#userPass').focus();
					return false;
				}
				else if($('#conuserPass').val()=="")	
				{
					$('#errmsg').html("Please verify your Password");
					$('#errmsg').show(); 
					$('#conuserPass').focus();
					return false;
				}
				else if(userconfirmpass.length < 8)	
				{
					$('#errmsg').html("Please enter 8 or more characters in Confirm Password");
					$('#errmsg').show(); 
					$('#userPass').focus();
					return false;
				}
				else if($('#userPass').val()!=$('#conuserPass').val())
				{
					$('#errmsg').html("Password is not verified");
					$('#errmsg').show(); 
					$('#conuserPass').focus();
					return false;
				}
				else
					{
					$('#addform').submit();
					}
			  
		  });  
	setTimeout(function() {
    	$('#msg').fadeOut('fast');
	}, 3000);
	});       
	// ]]>  
	
	
	
	</script>
</body>

</html>
