<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Edit Content</b>
									</h3>
								</div>
								<div class="panel-body no-padding">
									<form th:action="@{/editCMS}" method="POST"
										modelAttribute="cms" id="editform" class="form-auth-small">
										<div class="form-group">
											<label>Page Title</label> <input type="text"
												class="form-control" name="pageTitle"
												th:value="${session.pageTitle}" />
										</div>
										<label>Page Content</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="pageContent"
												th:text="${session.pageContent}"></textarea>
										</div>
										<div class="form-group">
											<label>Meta Keyword</label> <input type="text"
												class="form-control" name="metaKeyword"
												th:value="${session.metaKeyword}" />
										</div>
										<label>Meta Description</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="metaDescription"
												th:text="${session.metaDescription}"></textarea>
										</div>
										<div class="form-group">
											<label>Slug</label> <input type="text" class="form-control"
												name="slug" th:value="${session.slug}" />
										</div>
										<div class="form-group">
											<select name="isActive" th:value="${session.isActive}">
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
										</div>
										<div>
											<input type="hidden" id="pageid" name="pageId"
												th:value="${pageId}" />
										</div>
										<button type="submit" class="btn btn-info">Edit</button>
										<div class="bottom"></div>
									</form>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
</body>

</html>
