<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Edit Question</b>
									</h3>
								</div>
								<div class="panel-body no-padding">
									<form th:action="@{/editquestion}" method="POST"
										modelAttribute="question" id="editform"
										class="form-auth-small">
										<label>Question Text</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="questionText"
												th:text="${session.qstntxt}"></textarea>
										</div>
										<label>Coaching Tips</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="coachingTip"
												th:text="${session.ctip}"></textarea>
										</div>
										<div>
											<input type="hidden" id="questid" name="questionId"
												th:value="${questId}" />
										</div>
										<button type="submit" class="btn btn-info">Edit</button>
										<div class="bottom"></div>
									</form>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
</body>

</html>
