<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Edit Profile</b>
									</h3>
								</div>
								<form th:action="@{doeditprofile}" method="POST" id="frm"
									modelAttribute="edit" class="form-auth-small">
									<div class="panel-body no-padding noir">
										<div>
											<span id="errmsg" style="color: red;"></span>
										</div>
										<span id="msg" th:if="${errmsg}!=''" style="color: green;" th:text="${errmsg}"></span>
										<div>
											<label>First Name</label><input type="text"
												class="form-control" name="firstName" id="frst"
												th:value="${userDetails.firstName}" />
										</div>
										<div class="form-group">
											<label>Last Name</label><input type="text"
												class="form-control" name="lastName" id="lst"
												th:value="${userDetails.lastName}" />
										</div>
										<div class="form-group">
											<input type="hidden" class="form-control" name="userName"
												th:value="${userDetails.userName}" />
										</div>
										<div class="form-group">
											<label>Email Address</label><input type="text"
												class="form-control" name="emailAddress"
												th:value="${userDetails.emailAddress}" />
										</div>
										<div class="form-group">
											<label>Phone Number</label><input type="text"
												class="form-control" name="phone"
												th:value="${userDetails.phone}" />
										</div>
										<label>User Image</label>
										<div class="form-group">
											<img th:alt="${userDetails.userName}"
												th:src="@{/resources/img/} + ${userDetails.originalFileUrl}"
												height='100' width='100' />
										</div>
										<label>Choose A New Image To Upload...</label>
										<div>
											<input type="file" name="originalFileUrl" id="pic1" />
										</div>
									</div>
									<button type="submit" id="subm" class="btn btn-info">Save</button>
									<div class="bottom"></div>
								</form>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script type="text/javascript">
		
	</script>
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
	// <![CDATA[
	  $(document).ready(function(){ 
	  $('#subm').click(function() {
		  if($('#frst').val().length > 40) {
				$('#errmsg').html("First Name should not be longer than 40 characters");
				$('#errmsg').show(); 
				$('#frst').focus();
				return false;
			}
		  else if($('#lst').val().length > 40) {
				$('#errmsg').html("Last Name should not be longer than 40 characters");
				$('#errmsg').show(); 
				$('#lst').focus();
				return false;
			}  
	  	  else {
		  		if($('#pic1').val() == '') {
			  	$('#pic1').val($('#pic').val());
		  		}
		  		$('#frm').submit();
	  		}
	  });
	  
	  setTimeout(function() {
	    	$('#msg').fadeOut('fast');
	  }, 2000);
	  });
	// ]]>  
	
	
	
	</script>
</body>

</html>
