<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Edit Tenant</b>
									</h3>
								</div>
								<div class="panel-body no-padding">
									<form th:action="@{/edittenant}" method="POST"
										modelAttribute="tenant" id="editform" class="form-auth-small">
										<div class="form-group">
											<label>Organization Name</label> <input type="text"
												class="form-control" name="orgName"
												th:value="${session.name}" />
										</div>
										<label>Organization Address</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="orgAddress"
												th:text="${session.address}"></textarea>
										</div>
										<label>Organization Address 2</label>
										<div class="form-group">
											<textarea rows="5" cols="30" name="orgAddress2"
												th:text="${session.address2}"></textarea>
										</div>
										<div class="form-group">
											<label>Organization Country</label> <input type="text"
												class="form-control" name="orgCountry"
												th:value="${session.country}" />
										</div>
										<div>
											<input type="hidden" id="pageid" name="tenantId"
												th:value="${tenantId}" />
										</div>
										<button type="submit" class="btn btn-info">Edit</button>
										<div class="bottom"></div>
									</form>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
</body>

</html>
