<!doctype html>
<html lang="en" class="fullscreen-bg">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div style="position: relative;" class="content">
							<div style="position: absolute; left: 80px; bottom: 85%"
								class="header">
								<img src="../../../resources/img/logo.png"
									th:src="@{/resources/img/logo.png}" Alt="Logo"
									class="img-responsive logo" />
								<div class="logo text-center"></div>
							</div>
							<p class="lead">
								<b>Forgot Password</b>
							</p>
							<span th:if="${frgt}=='Invalid Email ID!'"
								style="color: red;" id="errmsg" th:text="${frgt}"></span>
							<span
								th:if="${frgt}=='Rest Password Url Sent Successfully.'"
								style="color: green;" id="errmsg" th:text="${frgt}"></span>
							<form th:action="@{forgotPasswordPost}" method="POST"
								modelAttribute="detail" id="submitform" class="form-auth-small">
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" class="form-control" id="signin-email"
										name="emailAddress" placeholder="Email" />
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block"
									id="submit">Confirm</button>
							</form>
						</div>
					</div>
					<div style="position: relative;" class="right">
						<div style="background: rgba(3, 164, 246, 0.92);" class="overlay">
						</div>
						<div style="position: absolute; top: 200px; left: 80px"
							class="content text">
							<img width="250" src="../../../resources/img/logo.png"
								th:src="@{/resources/img/logo.png}" Alt="Logo"
								class="img-responsive logo" />
							<h1 class="heading"></h1>
							<p></p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->

	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
		
		
		
		
		
		
		
		
		
	
	// <![CDATA[
	/* $('#submit').click(function(e) {
		
		var errmsg=$('#errmsg').text();
		console.log(errmsg);
		if(errmsg != ""){
		$('#errmsg').html("Invalid Email ID!");
		$('#errmsg').show();
		return false;
		}
		else {
		$('#submitform').submit();
		}
	}); */
	
	
	setTimeout(function() {
    	$('#errmsg').fadeOut('fast');
	}, 3000); // <-- time in milliseconds
	
	// ]]>
	
	
	
	
	
	
	
	
	
	
	
	
	</script>
</body>

</html>
