<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div th:replace="fragments/header :: headerFragment"></div>

		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title"></h3>
					<div class="row">
						<div class="col-md-12">
							<!-- BASIC TABLE -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Template Details</b>
									</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Email Template Id</th>
												<th>Email Header</th>
												<th>Email Content</th>
												<th>Created On</th>
												<th>Status</th>
												<th>Is Deleted</th>
												<th>Edit</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td th:text="${templatedetails.emailTemplateId}"></td>
												<td th:text="${templatedetails.emailTitle}"></td>
												<td th:text="${templatedetails.emailContent}"></td>
												<td th:text="${templatedetails.createDate}"></td>
												<td th:text="${templatedetails.isActive}"></td>
												<td th:text="${templatedetails.isDeleted}"></td>
												<td>
													<button th:rel="${templatedetails.emailTemplateId}"
														type="button" class="btn btn-info edq">Edit</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script type="text/javascript">
		
	</script>
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
		
		
	// <![CDATA[
	  $(document).ready(function(){
		  $('.edq').click(function() {
		  	  var emailTemplateId = $(this).attr('rel');
	      	  window.location.href = 'edittemplateget/'+emailTemplateId;
	      });
	  });
	// ]]>  
		
		
	
	
	
	</script>
	<!-- Javascript -->
</body>

</html>
