<!doctype html>
<html lang="en">
<span th:replace="fragments/commonhead :: commonheadFragment"></span>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div th:replace="fragments/header :: headerFragment"></div>

		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Tenants</h3>
					<div class="row">
						<div class="col-md-12">
							<!-- BASIC TABLE -->
							<div th:replace="fragments/left_panel :: commonleftpanelFragment"></div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">
										<b>Tenants List</b>
									</h3>
								</div>
								<div>
									<span class="errmsg" th:if="${session.tnt}!=''"
										style="color: green;" th:text="${session.tnt}"></span>
								</div>
								<span>
									<button id="addd" type="button" class="btn addbtn">Add
										New Tenant</button>
								</span>
								<form id="subm" th:action="@{tenantdetails}" method="POST"
									modelAttribute="tenant">
									<div>
										<input type="hidden" id="pagid" name="tenantId" />
									</div>
								</form>
								<form id="submt" th:action="@{deletetenant}" method="POST"
									modelAttribute="tenant">
									<div>
										<input type="hidden" id="pagidd" name="tenantId" />
									</div>
								</form>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Tenant Id</th>
												<th>Organization Name</th>
												<th>Created On</th>
												<th>View</th>
												<!-- <th>Edit</th> -->
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="cms, iterator: ${tenant}">
												<td th:text="${cms.tenantId}"></td>
												<td th:text="${cms.orgName}"></td>
												<td th:text="${cms.createdDate}"></td>
												<td>
													<button th:rel="${cms.tenantId}" type="button"
														class="btn btn-info edqs">View</button>
												</td>
												<!-- <td>
													<button th:rel="${cms.tenantId}" type="button" class="btn btn-info edq">Edit</button>
												</td> -->
												<td>
													<button th:rel="${cms.tenantId}" type="button"
														class="btn btn-danger edqd">Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>

					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer> </footer>
	</div>
	<!-- END WRAPPER -->

	<!-- Javascript -->
	<script type="text/javascript">
		
	</script>
	<script src="../../../resources/js/jquery.min.js"
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">
		
		
		
	// <![CDATA[
	  $(document).ready(function(){ 
		  $('#addd').click(function() {
		      window.location.href = 'addtenantget';
		  });
	      /* $('.edq').click(function() {
		  	  var tenantId = $(this).attr('rel');
	      	  window.location.href = 'edittenantget/'+tenantId;
	      });   */   
	      $('.edqs').click(function() {
		  	  $('#pagid').val($(this).attr('rel'));
		  	  $('#subm').submit();
	      });   
	      $('.edqd').click(function() {
		  	  $('#pagidd').val($(this).attr('rel'));
		  	  if (confirm("Are you sure you want to delete this tenant?")) {
		  	  $('#submt').submit();
		  	  }
	      });  
	      setTimeout(function() {
		      	$('.errmsg').fadeOut('fast');
		  	  }, 3000);
	  });        
	// ]]>  
	
	
	
	</script>
	<!-- Javascript -->
</body>

</html>
