<head id="commonheadFragment" th:fragment="commonheadFragment">
<title>FDBK Admin Dashboard</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- VENDOR CSS -->
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />

<link
	href="../../../resources/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" />

<link href="../../../resources/vendor/linearicons/style.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/vendor/linearicons/style.css}" />

<!-- MAIN CSS -->
<link href="../../../resources/css/main.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/main.css}" />

<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link href="../../../resources/css/demo.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/demo.css}" />

<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet" />
<!-- ICONS -->
<link href="../../../resources/img/apple-icon.png"
	th:href="@{/resources/img/apple-icon.png}" rel="apple-touch-icon"
	sizes="76x76" />
<link href="../../../resources/img/favicon.ico"
	th:href="@{/resources/img/favicon.ico}" rel="icon" type="image/ico"
	sizes="96x96" />

<!--  JavaScript -->
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.bundle.js"
	th:src="@{/resources/js/bootstrap.bundle.js}"></script>
<script type="application/javascript" th:inline="javascript">
	
		
	// <![CDATA[
	  /* $(document).ready(function(){
		  $('.chck').click(function() {
			  if($('.chck').hasClass('active')){
				  $('.chck').removeClass('active');
			  }
			  $(this).addClass('active');
		  });      
	  });     */    
	// ]]>  
	

</script>

</head>