<header class="header-area" id="headerFragment"
	th:fragment="headerFragment">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="dashboard"> <img src="../../../resources/img/logo.png"
				th:src="@{/resources/img/logo.png}" Alt="Logo"
				class="img-responsive logo" /></a>
		</div>
		<div class="container-fluid">
			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <img
							th:src="@{/resources/img/} + ${userDetails.originalFileUrl}"
							class="img-circle" alt="Avatar" height='22' width='22' /> <span
							th:text="${userDetails.userName}"></span> <i
							class="icon-submenu lnr lnr-chevron-down"></i></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/editprofile}"><i class="lnr lnr-user"></i>
									<span>My Profile</span></a></li>
							<li><a th:href="@{/changepassword}"><i
									class="lnr lnr-pencil"></i> <span>Change Password</span></a></li>
							<li><a th:href="@{/settings}"><i class="lnr lnr-cog"></i>
									<span>Settings</span></a></li>
							<li><a th:href="@{/logout}"><i class="lnr lnr-exit"></i>
									<span>Logout</span></a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</header>