<div id="sidebar-nav" class="sidebar"
	th:fragment="commonleftpanelFragment">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a th:href="@{/dashboard}" class="chck"><span>Users List</span></a></li>
				<li><a th:href="@{/categoryList}" class="chck"><span>Categories List</span></a></li>
				<li><a th:href="@{/CMS}" class="chck"><span>CMS</span></a></li>
				<li><a th:href="@{/template}" class="chck"><span>Email
							Templates Management</span></a></li>
				<!-- <li><a th:href="@{/tenant}" class="chck"><span>Tenants</span></a></li> -->
			</ul>
		</nav>
	</div>
</div>
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.bundle.js"
	th:src="@{/resources/js/bootstrap.bundle.js}"></script>
<script type="application/javascript" th:inline="javascript">
	// <![CDATA[
	  $(document).ready(function(){
		  $('.chck').click(function() {
			  if($('.chck').hasClass('active')){
				  $('.chck').removeClass('active');
			  }
			  $(this).addClass('active');
		  });      
	  });        
	// ]]>  
</script>
